@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventario ASP MVC</h1>
    <p>Lorem Ipsum Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ingresar</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <img src="https://www.480interactive.com/blog/wp-content/uploads/2016/10/01-695x364@2x.png" alt="Alternate text" class="img-responsive" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Provedores</h2>
        <img src="https://www.liderdelemprendimiento.com/wp-content/uploads/2019/10/Qu%C3%A9-son-los-proveedores-y-cu%C3%A1les-son-sus-tipos.png" alt="Alternate text" class="img-responsive imgHome" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <img src="https://dwfoh96rza0z7.cloudfront.net/wp/wp-content/uploads/2017/08/14125301/Relacion-con-Proveedores.jpg" alt="Alternate text" class="img-responsive" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
       
    </div>
</div>